.page {
  margin: 16px 19px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page {
    margin: 16px 20px;
  }
}

@media (min-width: 1100px) {
  .page {
    min-inline-size: 375px;
    max-inline-size: 1066px;
    margin: 16px auto;
  }
}