@import url('../src/assets/fonts/fonts.css');
@import url('../src/blocks/cards/cards.css');
@import url('../src/blocks/card/card.css');
@import url('../src/blocks/page/page.css');
@import url('../src/blocks/tabs/tabs.css');
@import url('../src/blocks/header/header.css');
@import url('../src/blocks/reviews/reviews.css');
@import url('../src/blocks/description/description.css');
@import url('../src/blocks/origin/origin.css');
@import url('../src/blocks/table/table.css');

:root {
  --primary-color: #444444;
  --secondary-color: #454343;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  color: var(--primary-color);
}
